/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: auto;
  /* margin: 0 auto; */
  /* padding: 20px; */
}

a {
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #1558b0;
}

button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1558b0;
}
